.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
flutter_*.png
linked_*.ds
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
.gradle/
*.iml
.idea/
.next/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
*.lock
